<section class="main">
    main
    <div class="container">
        <div class="row">

 hello world
            <div class="container">

                <div class="row">
                    <div class="col-sm-4">
                        <button class="btn-start">
                            start
                        </button>

                        <div class="cub">

                        </div>
                    </div><!-- .col-sm-4 -->
                </div> <!-- .row -->

            </div><!-- /.container -->

        </div>
    </div>
</section>