@charset 'utf-8';

// @import "helpers/_variables";
@import "helpers/_mixins";
@import "vendors/_bootstrap";
@import "vendors/_font-awesome";
@import "vendors/_hamburgers.min";
@import "vendors/_slick";
@import "vendors/_slick-theme";
// @import "vendors/vendor_extensions/_bootstrap";
// @import "vendors/vendor_extensions/_font-awesome";
// @import "vendors/vendor_extensions/_hamburgers";
 @import "vendors/vendor_extensions/_slick-theme";
@import "base/_typography";
// @import "layout/_header";
@import "layout/_header";
@import "layout/_main";
@import "layout/_footer";
@import "components/_sprite";
@import "components/_buttons";
@import "components/_text";

body {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    background-color: #9babbf;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
p, h1 , h2 , h3 , h4 , a , ul , li {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
*{
    box-sizing: border-box;
    outline: none;
}
.hero {
    display: flex;
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;

    &:before {
        content: '';
        display: inline-block;
        width: 100%;
        height: 110%;
        background: url("../img/hero-bg.png");
        background-position: 50% 0%;
        background-repeat: no-repeat;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }
    
    &__head {
        display: flex;
        width: 100%;
        padding: 0 40px;
        margin-bottom: 15px;

        &-logo {
            display: flex;
            flex-direction: column;
            width: 190px;
            img {
                width: 120px;
            }

            .text {
                color: #2d3940;
                font-size: 26px;
                display: inline-block;
                margin-top: 12px;
                font-weight: 500;
            }
        }
        &-slogan {
            display: flex;
            margin: 0;
            .letter-92 {
                font-size: 77px;
                font-weight: 900;
                color: #2d3940;
                text-transform: uppercase;
                margin-top: -5px;
                margin-right: 30px;
            }
            .letter-75 {
                font-size: 75px;
                font-weight: 900;
                color: #2d3940;
                text-transform: uppercase;
                margin-top: 48px;
            }
            .letter-38 {
                font-size: 38px;
                font-weight: 400;
                color: #2d3940;
                display: flex;
                flex-direction: column;
                margin-right: 30px;
                margin-top: 44px;
                .btn-phone {
                    color: #2d3940;
                    display: inline-block;
                    text-decoration: none;
                    font-size: 25px;
                }
            }
        }
    }

    &__content {
        display: flex;
        justify-content:center;
        flex-direction: column;
        align-items: center;
        &-img {
            background: #9babbf;
            display: inline-block;
        }

        &-text {
            font-size: 38px;
            color: #2d3940;
            margin-top: 15px;
            text-align: center;

            p {
                margin-bottom: 24px;
                display: inline-block;
            }
        }

        .btn {
            display: inline-block;
            font-size: 25px;
            color: #fff;
            background: #425359;
            border: 3px solid ;
            border-bottom-color: #111516;
            border-right-color: #111516;
            border-top-color: #9aa3a6;
            border-left-color: #9aa3a6;
            padding: 20px 30px;
        }
    }

}

.type {
    display: flex;
    position: relative;
    padding-top: 120px;

    &:before {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        background: url("../img/type-bg.png");
        background-position: 50% 0%;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }

    &__content {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    
        &-item {
            margin-bottom: 110px;

            h3 {
                margin-bottom: 14px;
                font-size: 33px;
                color: #2b363d;
                font-weight: 500;
                text-transform: uppercase;
            }
            p {
                margin: 0;
                padding: 0;
                font-size: 25px;
                color: #2b363d;
            }


            &:nth-child(1) {
                margin-right: 62px;
            }
            &:nth-child(2) {
                margin-right: 140px;
            }
            &:nth-child(3) {
                margin-right: 228px;
            }
            &:nth-child(4) {
                margin-top: -142px;
                margin-right: -350px;
            }
        }
    }
    
    &__img {
        margin-right: 64px;
        margin-top: 30px;
    }
}

.simple-solutions {
    padding: 165px 0 98px;

    &__communication {
        display: flex;
        width: 100%;
        padding: 0 40px;
        &-avatar {
            display: inline-block;
            margin-left: 20px;
            margin-right: 75px;

        }

        &-info {

            .title {
                font-size: 63px;
                color: #2d3940;
                font-weight: 900;
                text-transform: uppercase;
                margin-top: 5px;
            }
            .sub-title {
                font-size: 38px;
                color: #2d3940;
            }

            .btn-block {
                margin-top: 68px;
                max-width: 400px;
                width: 100%;
                float: right;
                p {
                    font-size: 25px;
                    color: #2d3940;
                    margin-bottom: 24px;
                }
                .btn-communication {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 25px;
                    color: #fff;
                    background: #425359;
                    border: 3px solid ;
                    border-bottom-color: #111516;
                    border-right-color: #111516;
                    border-top-color: #9aa3a6;
                    border-left-color: #9aa3a6;
                    padding: 20px 30px;
                    width: 100%;
                    text-decoration: none;
                }
            }
        }
    }
    
    &__list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0 60px;
        margin-top: 110px;
        justify-content: space-between;

        &-item {
            position: relative;
            font-size: 25px;
            color: #2d3940;
            margin-bottom: 150px;


            &:before {
                content: '';
                display: inline-block;
                position: absolute;
                top: -10px;
                left: 0;
                color: #2d3940;
                opacity: .16;
                font-weight: bold;

            }

            &:nth-child(1){
                &:before {
                    content: '1';
                    font-size: 200px;
                    top: -200px;
                    left: -50px;
                }
            }
            &:nth-child(2){
                &:before {
                    content: '2';
                    font-size: 146px;
                    top: -144px;
                    left: 20px;
                }
            }
            &:nth-child(3){
                margin-left: 100px;
                &:before {
                    content: '3';
                    font-size: 146px;
                    left: -90px;
                    top: -30px;
                }
            }
            &:nth-child(4){
                &:before {
                    content: '4';
                    font-size: 167px;
                    top: -160px;
                    right: 44px;
                    left: inherit;
                }
            }
            &:nth-child(5){
                &:before {
                    content: '5';
                    font-size: 146px;
                    top: -74px;
                    right: -4px;
                    left: inherit;
                }
            }
            &:nth-child(6){
                &:before {
                    content: '6';
                    font-size: 200px;
                    top: -74px;
                    right: -4px;
                    left: inherit;
                }
            }
        }
    }
}

.canilized {
    display: flex;
    position: relative;
    padding: 100px 0;

    &:before {
        content: '';
        display: inline-block;
        width: 100%;
        height: 110%;
        background: url("../img/canilized.png");
        background-position: 48% 0%;
        background-repeat: no-repeat;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }
    &__content {
        padding: 0 60px;
        position: relative;
        &-title {
            color: #2d3940;
            font-size: 42px;
            font-weight: 500;
            display: flex;
            justify-content: flex-end;
        }
        &-netting {
            text-align: center;
            img {
                margin-left: 50px;
            }
        }
        &-descriptions {

            .description {
                font-size: 25px;
                position: absolute;

                &:nth-child(1) {
                    top: 136px;
                    left: 130px;
                }
                &:nth-child(2) {
                    top: 270px;
                    right: 88px;
                }
                &:nth-child(3) {
                    top: 524px;
                    left: 140px;
                }
                &:nth-child(4) {
                    top: 638px;
                    right: 138px;
                }

            }
        }

    }
}

.assortment{
    padding: 150px 0;

    &__list {
        display: flex;
        width: 100%;
        flex-wrap: wrap;

        &-item {
            width: 50%;
            height: 460px;
            position: relative;
            display: flex;
            justify-content: space-between;


            .triangle-left-top {
                position: absolute;
                width: 100%;
                height: 100%;
                display: inline-block;
                top: 0;
                left: 0;
                overflow: hidden;
                z-index: 0;
                background: url("../img/left-top.png");
                background-size: cover;

            }

            .triangle-left-bottom {
                position: absolute;
                width: 100%;
                height: 100%;
                display: inline-block;
                top: 44px;
                left: -48px;
                overflow: hidden;
                z-index: 0;
                background: url("../img/left-bottom.png");
                background-size: cover;

            }


            .triangle-right-bottom {
                position: absolute;
                width: 100%;
                height: 100%;
                display: inline-block;
                top: 0;
                left: 0;
                overflow: hidden;
                z-index: -1;
                background: url("../img/right-bottom.png");
                background-size: cover;
            }
            .triangle-right-top {
                position: absolute;
                width: 100%;
                height: 100%;
                display: inline-block;
                top: 0;
                left: 0;
                overflow: hidden;
                z-index: -1;
                background: url("../img/right-top.png");
                background-size: cover;
            }

            .item {

                &-1 {
                    color: #c1c7d9;
                    font-size: 29px;
                    overflow: hidden;
                    position: relative;
                    font-weight: 300;
                    margin-top: 84px;
                    margin-left: 70px;

                }

                &-2 {
                    color: #2d3940;
                    font-size: 29px;
                    font-weight: 300;
                    position: relative;
                    margin-top: 216px;
                    margin-right: 36px;
                }
                &-3 {
                    color: #2d3940;
                    font-size: 38px;
                    font-weight: 300;
                    margin-left: 58px;
                    position: relative;
                    img {
                        max-width: 530px;
                        margin-right: -60px;
                        margin-top: -60px;
                        float: right;
                    }
                }
                &-4 {
                    color: #2d3940;
                    font-size: 38px;
                    font-weight: 300;
                    margin-top: 128px;
                    margin-left: 215px;
                    position: relative;
                }

                &-5 {
                    color: #c1c7d9;
                    font-size: 29px;
                    overflow: hidden;
                    position: relative;
                    font-weight: 300;
                    margin-top: 280px;
                    margin-left: 60px;

                }
                &-6 {
                    color: #2d3940;
                    font-size: 29px;
                    font-weight: 300;
                    position: relative;
                    margin-top: 66px;
                    margin-right: 28px;
                }
            }


        }
    }
}

.popular {
    padding-top: 55px;
    padding-bottom: 150px;

    &__head {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 25px;
    }

    &__title {
        font-size: 58px;
        font-weight: bold;
        color: #2d3940;
        max-width: 630px;
        text-align: left;
        width: 100%;
    }

    &__sub-title {
        font-size: 46px;
        font-weight: 500;
        color: #2d3940;
        opacity: .75;
        text-align: left;
        max-width: 630px;
        width: 100%;
    }

    &__gallery {
        display: flex;
        flex-wrap: wrap;
        margin-right: -200px;

        &-item {
            position: relative;
            img {
                width: 100%;
            }
        }

        .item {
            &-1 {
                width: 564px;
                display: inline-block;
                margin-left: -84px;
                position: relative;
                z-index: 4;

                .text {
                    position: absolute;
                    top: 153px;
                    right: 70px;
                    font-size: 33px;
                    color: #2d3940;
                    font-weight: 500;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: rgba(225,225,225,.6);
                    padding: 16px 30px;
                    text-align: center;
                }
            }

            &-2 {
                width: 430px;
                height: 230px;

                background: rgba(255,255,255,.6);
                margin-left: -96px;
                margin-top: 154px;
                position: relative;
                z-index: 3;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                .text {
                    font-size: 33px;
                    color: #2d3940;
                    font-weight: 500;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    //background: rgba(225,225,225,.6);
                    padding: 16px 30px;
                }
            }

            &-3 {
                display: inline-block;
                width: 450px;
                height: 250px;
                overflow: hidden;
                margin-left: 20px;
                margin-top: 75px;
                position: relative;
                .text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 29px;
                    font-weight: 300;
                    position: absolute;
                    top: 88px;
                    left: 80px;
                    text-align: center;
                }

            }
            &-4 {
                width: 500px;
                height: 300px;
                overflow: hidden;
                position: relative;
                margin-top: -278px;
                margin-left: 610px;

                .text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 29px;
                    font-weight: 300;
                    position: absolute;
                    top: 110px;
                    left: 154px;
                    text-align: center;
                }


            }
        }
    }

}

.contactUs {
    //padding: 60px 0;

    
    &__content {
        padding: 0 0 0 60px;
    }

    &__slider {

        //max-width: 900px;
        width: 100%;
        margin: 0 auto 100px;


        .item {
            position: relative;
            &__title {
                font-size: 38px;
                font-weight: 900;
                position: absolute;
                top: 0;
            }
            &__text {
                font-size: 25px;
                padding: 126px 200px 50px;
                margin: 0 60px;
                background: #a5b4c6;
            }

            .empty {
                position: absolute;
                display: inline-block;
                width: 100px;
                height: 100px;
                top: 0;
                left: 0;
                background: #a5b4c6;
            }
        }
    }

    &__wrap {
        display: flex;
        padding: 0 60px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin-right: 75px;

        .label {
            display: inline-block;
            width: 100%;
            position: relative;
            background: rgba(66,83,89,.25);
            margin-bottom: 30px;
            padding: 0;


            &:before {
                content: '';
                display: inline-block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(165, 180, 198, 1);
                z-index: -1;
            }

            input {
                display: inline-block;
                width: 100%;
                height: 45px;
                border: none;
                margin-bottom: 0;
                color: #2d3940;
                background: transparent;
            }
            textarea {
                display: inline-block;
                width: 100%;
                height: 45px;
                border: none;
                margin-bottom: 0;
                color: #2d3940;
                background: transparent;
                resize: none;
            }
        }

        .submit {
            display: inline-block;
            font-size: 25px;
            color: #fff;
            background: #425359;
            border: 3px solid ;
            border-bottom-color: #111516;
            border-right-color: #111516;
            border-top-color: #9aa3a6;
            border-left-color: #9aa3a6;
            padding: 20px 30px;
        }
    }

    &__aboutUs {
        &-img {
            height: 308px;
            margin-bottom: 60px;
            img {
                height: 100%;
            }
        }
        .btn-about {
            display: inline-block;
            font-size: 25px;
            color: #fff;
            background: #425359;
            border: 3px solid ;
            border-bottom-color: #111516;
            border-right-color: #111516;
            border-top-color: #9aa3a6;
            border-left-color: #9aa3a6;
            padding: 20px 30px;
            text-decoration: none;
        }
    }
}
